---
import type { MarkdownHeading } from 'astro';
import MoreMenu from '../RightSidebar/MoreMenu.astro';
import TableOfContents from '../RightSidebar/TableOfContents';



//type Props = CollectionEntry<'docs'>['data'];

type Props ={
	title: string;
	headings: MarkdownHeading[];
	githubEditUrl: string;
	code: string;
	pubDate: string;
	setUpDifficulty: string;
	heroImage: string;

};

const {title, headings, setUpDifficulty, githubEditUrl, pubDate, code, heroImage} = Astro.props;


---

<article id="article" class="content" >
	<section class="main-section" >
		<h1 class="title"><u>{title}</u></h1>
		<img width={720} height={360} src={heroImage} alt=""/>
				<small><b>Last updated on : <time>{pubDate}</time><br>
				Code Version : {code}<br>
				Set-Up Difficulty : {setUpDifficulty} </b><br></small>
				<hr>
		<nav class="block sm:hidden">
			<TableOfContents client:media="(max-width: 50em)" headings={headings}  />
		</nav>
		
		<slot/>
		
	</section>
	<nav class="block sm:hidden">
		<MoreMenu editHref={githubEditUrl} />
	</nav>
</article>

<style>
	.content {
		padding: 0;
		max-width: 75ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.content > section {
		margin-bottom: 4rem;
	}

	.block {
		display: block;
	}

	@media (min-width: 50em) {
		.sm\:hidden {
			display: none;
		}
	}
</style>
