---
import type { MarkdownHeading } from 'astro';
import MoreMenu from '../RightSidebar/MoreMenu.astro';
import TableOfContents from '../RightSidebar/TableOfContents';
import { Icon } from 'astro-icon'
import {YouTube} from 'astro-embed';






//type Props = CollectionEntry<'docs'>['data'];

type Props = {
  title: string;
  headings: MarkdownHeading[];
  githubEditUrl: string;
  code?: string;
  pubDate?: string;
  setUpDifficulty?: string;
  heroImage?: string;
  youTubeLink?: string;
};

const {
  title,
  headings,
  setUpDifficulty="",
  githubEditUrl,
  pubDate = "",
  code="" ,
  heroImage = "../../heroImages/default_image.png",
  youTubeLink
} = Astro.props;


---

<article id="article" class="content" >
	<section class="main-section" >
		<span class="title">{title}</span>

		{youTubeLink ? (
			<YouTube class="video" id={youTubeLink}/>
		  ) : (
			<img class="hero" src={heroImage} alt="Display Image" />
		  )}
				<span class="stats">
				{pubDate ? (
					<>
					  Last updated on: <span class="time">{pubDate}</span>,
					</>
				  ) : null}
				  {code ? (
					<>
					  Code Version: <span class="code">{code}</span>,
					</>
				  ) : null}
				  {setUpDifficulty ? (
					<>
					  Set-Up Difficulty: <span class="stars">{setUpDifficulty}</span>.
					</>
				  ) : null}
				</span>

		<hr>
		
		<nav class="block sm:hidden">
			<TableOfContents client:media="(max-width: 50em)" headings={headings}  />
		</nav>
		
		<slot/>
		
	</section>
	<nav class="block sm:hidden">
		<MoreMenu/>
	</nav>
</article>

<style>
	.title{
		color: rgb(172, 172, 172);
		font-size: 2.25rem;
	    font-weight: 800;
		justify-content: center;
		display:flex !important;
	}
	.stats{
		margin-left: 8%;
	}
	.time
	{
		color: rgb(255, 102, 0);
		font-size: 1rem;
	    font-weight: 800;
		

	}
	.code
	{
		color: rgb(242, 0, 255);
		font-size: 1rem;
	    font-weight: 800;

	}
	.stars
	{
		color: rgb(255, 247, 0);
		font-size: 1rem;
	    font-weight: 800;

	}
	.content {
		padding: 0;
		max-width: 75ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		
        
	}

	.content > section {
		margin-bottom: 4rem;
	}

	.block {
		display: block;
	}
	.hero{
		
		height: 300px;
		width: 540px;
		margin-left: 8%;
		justify-content: center;
		display:flex !important;
	
	}


	@media (min-width: 50em) {
		.sm\:hidden {
			display: none;
		}
	}
	
</style>
