---
import type { MarkdownHeading } from 'astro';
import MoreMenu from '../RightSidebar/MoreMenu.astro';
import TableOfContents from '../RightSidebar/TableOfContents';

type Props = {
	title: string;
	headings: MarkdownHeading[];
	githubEditUrl: string;
};

const { title, headings, githubEditUrl, heroImage, pubDate, updatedDate  } = Astro.props;
---

<article id="article" class="content">
	<section class="main-section">
		{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
		<h1 class="title">{title}</h1>
		{pubDate && <time>{pubDate}</time>}
		{
			updatedDate && (
				<div>
					Last updated on <time>{updatedDate}</time>
				</div>
			)
		}
		<nav class="block sm:hidden">
			<TableOfContents client:media="(max-width: 50em)" headings={headings} />
		</nav>
		<slot />
	</section>
	<nav class="block sm:hidden">
		<MoreMenu editHref={githubEditUrl} />
	</nav>
</article>

<style>
	.content {
		padding: 0;
		max-width: 75ch;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.content > section {
		margin-bottom: 4rem;
	}

	.block {
		display: block;
	}

	@media (min-width: 50em) {
		.sm\:hidden {
			display: none;
		}
	}
</style>
